{{> partials/page/title title='¡Bienvenid@ al Campus Digital Icontec!'}}
{{> partials/page/image image=params.mailer.mailer_image}}
<tr>
  <td valign="top" class="container">
    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;">
      <tbody>
        <tr>
          <td valign="top" style="padding-top:9px;">
            <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
              <tbody>
                <tr>
                  <td valign="top" class="mcnTextContent" style="padding-top:10px; padding-right:18px; padding-bottom:9px; padding-left:18px;">
                    <p><b>Estimado(a) {{params.firstName}}</b></p>&nbsp;
                    <p>Para completar el proceso de inicio de sesión, necesitamos confirmar la validez de tu identidad. Por favor, ingresa el siguiente código para verificar tu cuenta (el código es válido durante {{params.duration}} minutos)</p>
                    <p style="font-size: 30px;font-weight: bold;letter-spacing: 1.2rem;">{{params.token}}</p>
                    <p class="mcSpecialText">Para cualquier solicitud o inquietud, ingresa al <a href="{{params.mailer.campus_virtual}}">Campus Digital</a> de ICONTEC y utiliza la asistente virtual "Daniela". Selecciona la opcion 2, "mesa de ayuda estudiante", y abre un ticket (para saber cómo hacerlo <a href="{{params.mailer.help_desk}}">haz clic aquí.)</a></p></a>.</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
