<div class="img_icontec">
  <img src="https://icontecpre.poligran.edu.co/uploads/banners/jXItKBAcgWyntclE8S2j.jpg">
</div>

<div class="txt_icontec">

  <h2>Inicio del curso</h2>
  <p>
    Estimado (a) {{params.first_name}}

    Usted ha sido inscrito al curso de {{params.course_name}} como parte de su plan de formación.

    Lo invitamos a ingresar por la siguiente dirección:
    <a href="{{params.mailer.campus_virtual}}/login">{{params.mailer.campus_virtual}}</a>

    La fecha para el curso va desde
    {{params.course_start}} hasta {{params.course_end}}

    En caso de cualquier inquietud accede a la <a href="{{params.mailer.help_desk}}">mesa de ayuda</a>.

    Cordialmente
    Equipo Unidad Técnica de Educación
  </p>
  <img src="{{params.mailer.footer_icon}}">
</div>
