<div class="img_icontec">
  <img src="https://uploads-kuepa.s3.us-west-2.amazonaws.com/alliance/academic_component/backgrounds/07e5a6b3c9215f31b20b9bdacc1fab1503e9b807.png">
</div>

<div class="txt_icontec">

  <h2>Inicio del curso</h2>
  <p>
    Apreciado {{params.first_name}}

    Ha sido inscrito al curso de {{params.course_name}} como parte de su plan de formación.

    Lo invitamos a ingresar por la siguiente dirección:
    <a href="{{params.mailer.campus_virtual}}/login">{{params.mailer.campus_virtual}}</a>

    La fecha para el curso va desde
    {{params.course_start}} hasta {{params.course_end}}

    En caso de cualquier inquietud comunicarse al correo de soporte {{params.mailer.email_technical_support}} o Líneas de atención {{params.mailer.phone_technical_support}}.

    Cordialmente
    Unidad Técnica de Educación
  </p>
  <img src="{{params.mailer.footer_icon}}">
</div>
