{{> partials/page/title title='Inicio del curso/programa/diplomado'}}
{{> partials/page/image image=params.mailer.mailer_image}}
<tr>
  <td valign="top" class="container">
    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;">
      <tbody>
        <tr>
          <td valign="top" style="padding-top:9px;">
            <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">

              <tbody>
                <tr>
                  <td valign="top" class="mcnTextContent" style="padding-top:10px; padding-right:18px; padding-bottom:9px; padding-left:18px;">
                    <p>Te has inscrito en el {{params.courseType}} {{params.course_name}}, con el ID de servicio Nro: {{params.service_id}}</p>
                    <p>La programación del curso es la siguiente:</p>
                    <p>Fecha de inicio: {{params.course_start}}</p>
                    <p>Fecha de fin: {{params.course_end}}</p>
                    <p>Tiempo de vigencia: {{params.serviceValidity}}</p>
                    <p>En tu <b>cuenta de estudiante</b> encontrarás las actividades a desarrollar  (Modalidad Virtual).</p>
                    <p>Por favor, sigue los siguientes pasos para acceder a tu <b>cuenta de estudiante</b> y luego <b>al curso</b>:</p>
                    <p><b>PASO 1</b>: Ingresa al Campus Digital <a href="{{params.mailer.campus_virtual}}">aquí</a></p>
                    <p><b>PASO 2</b>: Inicia sesión con tu usuario y contraseña en el botón ubicado en la parte superior derecha (para conocer tu usuario y contraseña consulta el primer correo recibido con el asunto "Bienvenida al Campus Digital")</p>
                    <p>Recuerda que tu usuario es: {{params.username}}</p>
                    <p class="mcSpecialText">Adjunto encontrará las condiciones del servicio y los criterios para obtener tu certificado</p>
                    <p class="mcSpecialText">Si tu curso incluye acceso a las normas ICONTEC en formato digital E-book, podrás hacerlo una vez ingreses al aula. Esta aplicación te permitirá acceder  los documentos sin conexión, siguiendo los pasos que se describen en el siguiente <a href="{{params.mailer.video_tutorial}}">tutorial</a>.</p>
                    <p class="mcSpecialText">Para cualquier solicitud o inquietud, accede al <a href="{{params.mailer.campus_virtual}}/login">Campus Digital</a> de ICONTEC y utiliza la asistente virtual "Daniela". Selecciona la opción 2, "mesa de ayuda estudiante", y abre un ticket (para saber cómo hacerlo <a href="{{params.mailer.help_desk}}">haz clic aquí.)</a></p></a>.</p>
                    <p class="mcSpecialText">¡Esperamos que disfrutes del curso! </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
