<div class="img_icontec" style="display: block">
  <img src="{{params.mailer.mailer_image}}">
</div>

<div class="txt_icontec">

  <h2>Retiro del programa de formación</h2><br>
  <div>Estimado (a) {{params.first_name}}</div>
  <br>
  <div>Usted ha sido desmatriculado (a) del programa {{params.course_name}}, con ID del servicio Nro {{params.service_id}}. Lo invitamos a seguir consultando información de interés en nuestro Campus Digital en el siguiente link <a href="{{params.mailer.campus_virtual}}">{{params.mailer.campus_virtual}}</a>.</div>
  <br>
  <div>En caso de cualquier inquietud registre un <a href="{{params.mailer.help_desk}}">nuevo ticket</a> en la <a href="{{params.mailer.help_desk}}">mesa de ayuda</a>, lo invitamos a consultar el <a href="{{params.mailer.campus_instructive_doc}}">instructivo de mesa de ayuda</a>.</div>
  <br>
  <div>También dentro del Campus puede acceder a soporte estudiantil con la asistente virtual Daniela, en la opción 2. <img src="{{params.mailer.virtual_help}}" style="width: 100px"></div>
  <br><br>
  <div>Cordialmente <br>Equipo Unidad Técnica de Educación</div>
  <img src="{{params.mailer.footer_icon}}">
</div>
