<div class="img_icontec">
  <img src="{{params.mailer.mailer_image}}">
</div>

<div class="txt_icontec">

  <h2>Retiro del curso</h2><br>
  <div>Estimado (a) {{params.first_name}}</div>
  <br>
  <div>Usted ha sido des matriculado del curso {{params.course_name}} como docente.</div>
  <br>
  <div>En caso de cualquier inquietud registre un nuevo ticket en la <a href="{{params.mailer.help_desk}}">mesa de ayuda</a>.</div>
  <br><br>
  <div>Cordialmente <br>Equipo Unidad Técnica de Educación</div>
  <img src="{{params.mailer.footer_icon}}">
</div>
