<div class="img_icontec" style="display: block">
  <img src="{{params.mailer.mailer_image}}">
</div>

<div class="txt_icontec">

  <h2>¡Bienvenid@ al Campus Digital Icontec!</h2><br>
  <div>Estimado (a) {{params.first_name}}</div>
  <br>
  <div>Lo invitamos a ingresar al Campus  Digital de ICONTEC a través de la siguiente dirección: <a href="{{params.mailer.campus_virtual}}/login">{{params.mailer.campus_virtual}}</a>.</div>
  <br>
  <div>En el Campus Digital encuentra información de interés como recursos gratuitos (artículos, webinars, podcast, cápsulas de conocimiento), noticias y eventos del servicio de educación de ICONTEC. Dentro del Campus usted tendrá acceso a su cuenta de estudiante para lo cual debe ingresar a su sesión con los siguientes datos:</div>
  <br>
  <div><b>USUARIO</b>: {{params.username}} y <b>CONTRASEÑA</b>: {{params.password}}</div>
  <br>
  <div>Para el ingreso al curso/programa/diplomado en el que esté matriculado recibirá posteriormente un correo con las indicaciones respectivas.</div>
  <br>
  <div>En caso de no recibir el correo de inicio del curso o ante cualquier inquietud registre un <a href="{{params.mailer.help_desk}}">nuevo ticket</a> en la <a href="{{params.mailer.help_desk}}">mesa de ayuda</a>, lo invitamos a consultar el <a href="{{params.mailer.help_desk}}/kb/faq.php?id=1#:~:text=Instructivo%20para%20LMS.pdf">instructivo de mesa de ayuda</a>.</div>
  <br>
  <div>También dentro del Campus puede acceder a soporte estudiantil con la asistente virtual Daniela, en la opción 2. <img src="{{params.mailer.virtual_help}}" style="width: 100px"></div>
  <br><br>
  <div>Cordialmente <br>Equipo Unidad Técnica de Educación</div>
  <img src="{{params.mailer.footer_icon}}">
</div>
