<div class="img_icontec">
  <img src="https://icontecpre.poligran.edu.co/uploads/banners/jXItKBAcgWyntclE8S2j.jpg">
</div>

<div class="txt_icontec">

  <h2>¡Bienvenid@ al Campus Digital Icontec!</h2>
  <p>
    Apreciado {{params.first_name}}

    Lo invitamos a ingresar por la siguiente dirección:
    <a href="{{params.mailer.campus_virtual}}/login">{{params.mailer.campus_virtual}}</a>

    Ingrese con su usuario: {{params.username}}
    y contraseña: {{params.password}}

    En caso de cualquier inquietud comunicarse al correo de soporte {{params.mailer.email_technical_support}} o Líneas de atención {{params.mailer.phone_technical_support}}.

    Cordialmente
    Unidad Técnica de Educación
  </p>
  <img src="{{params.mailer.footer_icon}}">
</div>
