{{> partials/page/title title='Contacto desde Campus'}}
{{> partials/page/image image=params.mailer.mailer_image}}
<tr>
  <td valign="top" class="container">
    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;">
      <tbody>
        <tr>
          <td valign="top" style="padding-top:9px;">
            <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
              <tbody>
                <tr>
                  <td valign="top" class="mcnTextContent" style="padding-top:10px; padding-right:18px; padding-bottom:9px; padding-left:18px;">
                    <p><b>Estimado(a) {{params.nameTo}}</b></p>&nbsp;
                    <p>Has recibido un nuevo mensaje de contacto desde campus. Aquí están los detalles del formulario enviado:</p>
                    <p><strong>Nombre: </strong> {{params.nameFrom}}</p>
                    <p><strong>País: </strong> {{params.country}}</p>
                    <p><strong>Ciudad: </strong> {{params.city}}</p>
                    <p><strong>Número de teléfono: </strong> {{params.phoneNumber}}</p>
                    <p><strong>Correo electrónico: </strong> {{params.emailFrom}}</p>
                    <p><strong>Mensaje: </strong> {{params.message}}</p>
                    <p class="mcSpecialText">Por favor ponte en contacto con la persona a la brevedad posible.</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
