<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Html-Pdf template</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <style>
      @font-face{
        font-family:'Catamaran';
        src:url(./assets/c10611be2538a1849ed1a7addfb942a7.ttf) format("truetype");
        font-weight:200;font-style:normal;font-display:swap
      }
      @font-face{
        font-family:'Catamaran';
        src:url(./assets/219a560aabd1e338e027b7893a040d2a.ttf) format("truetype");
        font-weight:300;
        font-style:normal;
        font-display:swap
      }
      @font-face{
        font-family:'Catamaran';
        src:url(./assets/eccb1814f137b6f2fac5b36c564cf354.ttf) format("truetype");
        font-weight:400;
        font-style:normal;
        font-display:swap
      }
      @font-face{
        font-family:'Catamaran';
        src:url(./assets/ee80149348e829e40df440058caae2ac.ttf) format("truetype");
        font-weight:500;
        font-style:normal;
        font-display:swap
      }
      @font-face{
        font-family:'Catamaran';
        src:url(./assets/ed9b7e1ba8f95313809fe56e667f2b7c.ttf) format("truetype");
        font-weight:600;
        font-style:normal;
        font-display:swap
      }
      @font-face{
        font-family:'Catamaran';
        src:url(./assets/4ae9d1269b992e155b66eeca34a0462d.ttf) format("truetype");
        font-weight:700;
        font-style:normal;
        font-display:swap
      }
      @font-face{
        font-family:'Catamaran';
        src:url(./assets/570fc3c147980f1d286f40bc9e699c18.ttf) format("truetype");
        font-weight:800;
        font-style:normal;
        font-display:swap
      }
      body {
        font-family: 'Catamaran', sans-serif;
        margin: 0px;
        padding: 0px;
      }
      .title-principal {
        font-weight: 700;
        font-size: 1.3rem;
      }
      .alternative-name{
        font-weight: 700;
        font-size: 1.2rem;
      }
      .title {
        color: #0085CA;
        font-weight: 700;
        font-size: 12px;
        line-height: 19.68px;
        text-align: left;
      }
      .subtitle {
        color: #7C878E;
        font-weight: 600;
        font-size: 10px;
        line-height: 16.4px;
      }
      .text-small {
        font-size: .7rem;
      }
      .text-content {
        font-weight: 400;
        font-size: 10px;
        line-height: 16.4px;
        color: #7C878E;
      }
      .blue {
        color: #0085ca;
      }
      .gray {
        color: #7C878E;
      }
      .divider {
        width: 100%;
        height: 2px;
        background-color: rgb(0, 187, 126);
      }
      .discount-value-card {
        padding: 0.2rem 0.8rem;
        background-color: #FFD100;
        color: black;
        font-size: .9rem;
      }
      .discount-price {
        margin: 0px;
        text-decoration: line-through;
        font-size: 0.8rem;
        font-weight: 600;
      }
      .field-price {
        font-weight: bold;
        font-size: 1rem;
        color: #000000;
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 0px 0px;
        margin-bottom: 0.5rem;
      }
      .field {
        font-size: .8rem;
        color: #000000;
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
        margin: 0px 0px;
        margin-bottom: 0.5rem;
      }
      .mb-1 {
        margin-bottom: .5rem;
      }
      .cover-url-container {
        margin-bottom: 1rem;
      }
      .cover-url-container img {
        width: 70%;
        margin: 0 auto;
        border-radius: 20px;
      }
      .justify {
        text-align: justify;
      }
      .container-content {
        padding: 0px;
      }
      .header-container {
        text-align: center;
        position: relative;
        width: 100%;
        padding: 30px;
        box-sizing: border-box;
      }
      .header-container--image {
        width: 141px;
        height: 42px;
        margin-bottom: 20px;
      }
      .header-container--title {
        color: white;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 10px;
      }
      .header-container--subtitle {
        color: white;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
      }
      .header-container--duration {
        color: white;
        font-weight: 400;
        font-size: 10px;
        line-height: 16.4px;
      }
      .header-container--background {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
        top: 0px;
        left: 0px;
      }
      .development--container {
        width: 100%;
        overflow: hidden;
        padding: 16px;
        box-sizing: border-box;
        margin-top: 20px;
        border: 1px solid #C4C4C4;
        border-radius: 8px;
      }
      .development--title {
        color: #0085CA;
        font-weight: 40;
        font-size: 16px;
        line-height: 26.24px;
        text-align: center;
        margin-bottom: 10px;
        font-weight: 700;
      }
      .development--container-items {
        width: 100%;
        overflow: hidden;
      }
      .development--col-left {
        width: 48%;
        padding: 1%;
        box-sizing: border-box;
        float: left;
      }
      .development--col-right {
        width: 48%;
        padding: 1%;
        float: right;
        box-sizing: border-box;
      }
      .development--item {
        display: inline-block;
        margin-bottom: 12px;
      }
      .development--item-text {
        color: #7C878E;
        font-size: 10px;
        font-weight: 400;
        display: inline-block;
        margin-left: 8px;
        width: calc(100% - 60px);
        vertical-align: top;
      }
      .development--item-icon {
        display: inline-block;
        width: 30px;
        height: 30px;
        vertical-align: top;
      }
    </style>
</head>
<body>
  <div class="header-container">
    <img class="header-container--background" src={{customs.course_pdf.header_background}} alt="" />
    <img src={{customs.course_pdf.icontec_logo}} class="header-container--image" />
    <div class='header-container--title'>{{title}}</div>
    {{#if alternativeName}}
      <div class='header-container--subtitle'>{{alternativeName}}</div>
    {{/if}}
    {{#if duration}}
      <div class="header-container--duration">Duración: {{duration}}</div>
    {{/if}}
  </div>
  <div class="development--container">
    <div class="development--title">¿PORQUÉ IMPULSAR TU DESARROLLO CON ICONTEC?</div>
    <div class="development--container-items">
      <div class="development--col-left">
        <div class="development--item">
          <img class="development--item-icon" src={{customs.course_pdf.development_icon_1}} alt="">
          <div class="development--item-text">
            Somos el Organismo Nacional de Normalización en Colombia, responsable por la estructuración de las Normas Técnicas Colombianas que se requieren para impulsar la competitividad de las empresas a nivel nacional e internacional.
          </div>
        </div>
        <div class="development--item">
          <img class="development--item-icon" src={{customs.course_pdf.development_icon_2}} alt="">
          <div class="development--item-text">
            ICONTEC en representación por Colombia, participa activamente en comités internacionales y reuniones técnicas en temas de normas internacionales y  gestión en organizaciones como la ISO, IEC y COPANT.
          </div>
        </div>
      </div>
      <div class="development--col-right">
        <div class="development--item">
          <img class="development--item-icon" src={{customs.course_pdf.development_icon_3}} alt="">
          <div class="development--item-text">
            Contamos con expertos profesionales en sistemas de gestión que también desarrollan actividades de evaluación de la conformidad y otras actividades como consultoría condición que permite orientar adecuadamente los enfoques técnicos de los referentes en contextos empresariales.
          </div>
        </div>
        <div class="development--item">
          <img class="development--item-icon" src={{customs.course_pdf.development_icon_4}} alt="">
          <div class="development--item-text">
            Tenemos presencia a nivel internacional en Suramérica y Centroamérica, lo que nos permite contar con una cobertura amplia y con profesionales competentes en la región.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-content">

    {{#if long_description}}
      <div class="text-content justify" style="margin-top: 20px;">
        {{{long_description}}}
      </div>
    {{/if}}
    <br>
    {{#if competencies}}
      <div class="title">COMPETENCIAS A DESARROLLAR</div>
      <div class="text-content">
        {{{competencies}}}
      </div>
      <br>
    {{/if}}
    {{#if objectives}}
      <div class="title">OBJETIVOS</div>
      <div class="text-content">
        {{{objectives}}}
      </div>
      <br>
    {{/if}}
    {{#if content}}
      <div class="title" style="margin-bottom:5px;">CONTENIDO</div>
      {{#each content}}
        <div>
          <div class="subtitle">{{this.name}}</div>
          <div class="text-content gray">{{{this.content}}}</div>
        </div>
        <br>
      {{/each}}
      <br>
    {{/if}}
    {{#if focus}}
      <div class="title">¿QUIÉN PUEDE PARTICIPAR?</div>
      <div class="text-content">
        {{{focus}}}
      </div>
      <br>
    {{/if}}
    {{#if materials}}
      <div class="title">MATERIALES ORIGINALES DE ICONTEC</div>
      <div class="text-content">
        {{{materials}}}
      </div>
      <br>
    {{/if}}
    {{#if methodology}}
      <div class="title">METODOLOGÍA</div>
      <div class="text-content">
        {{{methodology}}}
      </div>
      <br>
    {{/if}}
    {{#if generalities}}
      <div class="title">CERTIFICACIÓN Y DATOS GENERALES</div>
      <div class="text-content">
        {{{generalities}}}
      </div>
      <br>
    {{/if}}
  </div>
</body>
</html>
