<div class="txt_icontec">
  <h2>Emisión de Certificados completa</h2><br>

  <div>
    <strong>Estimado(a) Auxiliar: {{params.user_name}}</strong>
  </div> <br>
  <div>
    <p>A continuación se relaciona los participantes y su correspondiente certificado emitido:</p>
  </div>

  {{#each params.participants}}
  <div><strong>{{{this.participantFullName}}}</strong></div>
  <div>{{{this.courseSchedulingName}}}</div>
  <div>{{{this.certificateType}}}</div>
  {{/each}}
  <br>

  <div>En caso de cualquier inquietud comuníquese con el programador (coordinador del servicio del área de operaciones
    presencial/online o virtual).</div>
  <br><br>
  <div>Cordialmente <br>Equipo Unidad Técnica de Educación</div>
  <img src="{{params.mailer.footer_icon}}">
</div>
