<div class="img_icontec_v2">
  <img src="{{params.customs.mailer.header_image}}">
  <p class="title">Notificación para Descarga de Certificado</p>
  <div class="content">
    <div>CURSO:</div>
    <div style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">{{params.program_name}}</div>
  </div>
</div>

<div class="txt_icontec_v2">
  <div><strong>Estimado(a) participante: {{params.user_name}}</strong></div> <br>
  <div>
    <p>¡Felicitaciones por la terminación de su curso!</p>
    <p>Tenemos el gusto de informarle que en el campus virtual se encuentran el (los) certificado (s) listo(s) para su descarga.</p>
    <p>Por favor tenga en cuenta que:</p>
    <p>1. Debe haber cumplido los requisitos de aprobación definidos en el servicio.</p>
    <p>2. El (los) certificado(s) estará(n) disponible(s) para su descarga, ingresando a la siguiente dirección <a href="{{params.customs.mailer.campus_virtual}}/login">{{params.customs.mailer.campus_virtual}}</a>, en la sección de datos personales, parte superior izquierda, ubique el botón “Certificaciones”, dando clic allí  podrá visualizar y descargar su(s) certificado(s).</p>
    <p>En caso de cualquier inquietud, registrar un ticket con el Tema de Ayuda “Estudiantes / Certificados” a la <a href="{{params.customs.mailer.help_desk}}">Mesa de ayuda</a>.</p>
    <p>Agradecemos su confianza y participación, extendemos nuestras más sinceras felicitaciones por este nuevo logro en su vida profesional.</p>
  </div> <br><br>
  <img src="{{params.customs.mailer.footer_icon}}">
</div>
