<div class="img_icontec">
  <img src="{{params.mailer.mailer_image}}">
</div>

<div class="txt_icontec">

  <h2>Servicio cancelado</h2>
  <p>
    El servicio con código {{params.service_id}} correspondiente al programa {{params.program_name}} ha sido cancelado el dia {{params.today}}

    En caso de cualquier inquietud accede <a href="{{params.mailer.help_desk}}">aquí a la mesa de ayuda</a>.

    Cordialmente
    Equipo Unidad Técnica de Educación
  </p>
  <img src="{{params.mailer.footer_icon}}">
</div>
