<div class="img_icontec">
  <img src="{{params.mailer.mailer_image}}">
</div>

<div class="txt_icontec">

  <h2>Servicio de educación cancelado</h2><br>
  <div>El programa {{params.program_name}} con código de servicio {{params.service_id}} ha sido cancelado el dia {{params.today}}. Lo invitamos a seguir consultando información de interés en nuestro Campus Digital en el siguiente link <a href="{{params.mailer.campus_virtual}}">{{params.mailer.campus_virtual}}</a></div>
  <br>
  <div>En caso de cualquier inquietud registre un <a href="{{params.mailer.help_desk}}">nuevo ticket</a> en la <a href="{{params.mailer.help_desk}}">mesa de ayuda</a>, lo invitamos a consultar el <a href="{{params.mailer.help_desk}}/kb/faq.php?id=1#:~:text=Instructivo%20para%20LMS.pdf">instructivo de mesa de ayuda</a>. También dentro del campus puede acceder a soporte con la asistente virtual Daniela en la opción 2. <img src="{{params.mailer.virtual_help}}" style="width: 100px"></div></div>
  <br><br>
  <div>Cordialmente <br>Equipo Unidad Técnica de Educación</div>
  <img src="{{params.mailer.footer_icon}}">
</div>
