<div class="img_icontec">
  <img src="{{params.mailer.mailer_image}}">
</div>

<div class="txt_icontec">
  <img src="{{params.mailer.footer_icon}}">
  <br><br>
  <div style="color: black;"><strong>Estimado(a) Auxiliar {{params.assistant_name}}:</strong></div> <br>
  <div style="color: black;">Se informa acerca de la activación del examen del siguiente servicio:</div> <br>
  <div style="color: black;"><strong>Id del servicio: </strong>{{params.service_id}}</div> <br>
  <div style="color: black;"><strong>Programa: </strong>{{params.program_name}}</div> <br>
  <div style="color: black;"><strong>Código del programa: </strong>{{params.program_code}}</div> <br>
  <div style="color: black;"><strong>Modalidad: </strong>{{params.modality}}</div> <br>
  <div style="color: black;"><strong>Duración: </strong>{{params.duration}}</div> <br>
  <div style="color: black;"><strong>Fecha Inicio: </strong>{{params.startDate}}</div> <br>
  <div style="color: black;"><strong>Fecha Fin: </strong>{{params.endDate}}</div> <br>
  <div style="color: black;"><strong>Observaciones: </strong>{{params.observations}}</div> <br>
  <div style="color: black;"><strong>Nombre del ejecutivo comercial: </strong>{{params.accountExecutive}}</div> <br>
  <div style="color: black;"><strong>Regional: </strong>{{params.regional}}</div> <br>
  <br><br>
  <div style="color: black;">Lo invitamos a ingresar al campus Virtual, para que pueda realizar el seguimiento.</div>

  <br><br>
  <div>Cordialmente <br>Equipo Unidad Técnica de Educación</div>
  <img src="{{params.mailer.footer_icon}}">
</div>
