{{> partials/page/title title='Recordatorio finalización de curso'}}
{{> partials/page/image image=params.mailer.mailer_image}}
<tr>
  <td valign="top" class="container">
    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;">
      <tbody>
        <tr>
          <td valign="top" style="padding-top:9px;">
            <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
              <tbody>
                <tr>
                  <td valign="top" class="mcnTextContent" style="padding-top:10px; padding-right:18px; padding-bottom:9px; padding-left:18px;">
                    <p><b>Estimado(a) participante {{params.studentName}}:</b></p>&nbsp;
                    <p>Queremos recordarte que has estado participando en nuestro curso gratuito "{{params.courseName}}" en el <a href="{{params.mailer.campus_virtual}}/login">Campus Digital</a> de ICONTEC </p>
                    <p> Queremos felicitarte por tu dedicación hasta ahora, pero nos gustaría recordarte que el curso estará disponible de forma gratuita solo por un tiempo limitado. Actualmente, te quedan 8 días para completarlo y aprovechar todos los recursos y lecciones que ofrece.</p>
                    <p> Este curso ha sido diseñado para ayudarte a adquirir nuevas habilidades y conocimientos que seguramente te serán útiles en tu camino educativo y profesional, así que te animamos a que continúes dedicando tiempo al curso y completes todas las secciones antes de que expire el período gratuito.</p>
                    <p>Recuerda que al completar el curso, tendrás la oportunidad de obtener un certificado de finalización que podrás agregar a tu hoja de vida y compartir en tus perfiles profesionales.</p>
                    <p class="mcSpecialText">En caso de que tengas alguna pregunta, por favor accede al <a href="{{params.mailer.campus_virtual}}/login">Campus Digital</a> de ICONTEC y presenta tu solicitud a traves de la asistente virtual "Daniela" seleccionando la opción 2, "mesa de ayuda estudiante", y abriendo un ticket (para saber cómo hacerlo, <a href="{{params.mailer.help_desk}}">haz clic aquí.)</a></p></a>.</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
