{{> partials/page/title title=params.title}}
{{> partials/page/image image=params.mailer.mailer_image}}
<tr>
  <td valign="top" class="container">
    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;">
      <tbody>
        <tr>
          <td valign="top" style="padding-top:9px;">
            <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
              <tbody>
                <tr>
                  <td valign="top" class="mcnTextContent" style="padding-top:10px; padding-right:18px; padding-bottom:9px; padding-left:18px;">
                    <p><b>Hola, {{params.studentName}}</b></p>&nbsp;
                    {{#if params.conditionSuccess}}
                      <p>Queremos felicitarte por tu compromiso y avance en el curso <b>{{params.courseName}}</b>. Sigue así y aprovecha al máximo esta oportunidad de aprender.</p>
                      <p><b>Recuerda que la fecha máxima para finalizarlo es: {{params.courseEndDate}}.</b></p>
                      <p>Sigue avanzando. ¡No pierdas la oportunidad de seguir aprendiendo con ICONTEC!</p>
                    {{else}}
                      <p>Hemos notado que aún no has iniciado tu curso, y no queremos que pierdas esta valiosa oportunidad de aprender y fortalecer tus conocimientos. ¡Aprovecha tu inversión y empieza ahora!</p>
                      <p>Si has tenido alguna dificultad con el ingreso, <a href="{{params.mailer.help_desk}}">haz clic aquí</a> y contacta nuestra mesa de ayuda para solucionarlo de inmediato. </p>
                      <p>Recuerda que el curso estará disponible hasta el: {{params.courseEndDate}}</p>
                      <p>¡No lo dejes para después! Inicia hoy mismo y empieza esta nueva experiencia de aprendizaje.</p>&nbsp;
                      <p><b>Accede ahora:</b> <a href="{{params.customs.mailer.campus_virtual}}/login">{{params.customs.mailer.campus_virtual}}</a></p>
                    {{/if}}
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
