<div class="img_icontec">
  <img src="{{params.mailer.mailer_image}}">
</div>

<div class="txt_icontec">
  <h2>Programación modificada</h2><br>
  {{#if params.course_name}}
    <div>El curso {{params.course_name}} del programa {{params.program_name}} con ID de servicio {{params.service_id}} ha sido modificado</div>
  {{else}}
  <div>El programa {{params.program_name}} con ID de servicio {{params.service_id}} ha sido modificado</div>
  {{/if}}
  <br>
  {{#each params.changes}}
    <div>{{{this.message}}}</div>
  {{/each}}
  <br>
  <div>En caso de cualquier inquietud comuníquese con el programador (coordinador del servicio del área de operaciones presencial/online o virtual).</div>
  <br><br>
  <div>Cordialmente <br>Equipo Unidad Técnica de Educación</div>
  <img src="{{params.mailer.footer_icon}}">
</div>
