<div class="img_icontec">
  <img src="https://icontecpre.poligran.edu.co/uploads/assets/8Y2s1I1kF6CgI3LeHt2u.PNG">
  <h1 style="color: white; position: absolute; top: 30%;" >Entrega de normas</h1>
</div>

<div class="txt_icontec">
  <div>Estimado auxiliar, se informa la confirmación del servicio {{params.service_id}} con código {{params.service_code}}, con fecha de inicio {{params.initDate}} en la ciudad {{params.city}}, el cual, aplica para entrega de normas físicas.</div>
  <br><br>
  <div>Cordialmente <br>Equipo Unidad Técnica de Educación</div>
  <img src="{{params.mailer.footer_icon}}">
</div>
