<div>
  <img src="{{params.mailer.footer_icon}}">
  <br><br>
  <div style="color: black;"><strong>Estimado (a) participante {{params.studentParams.studentName}}:</strong></div> <br>
  <div style="color: black;">El examen del módulo {{params.studentParams.moduleName}} estará disponible para su aplicación desde este
    momento, hasta el:
    {{params.studentParams.endDate}} (8 días después de la finalización del curso).</div> <br>
  <div style="color: black;"><strong>Número de preguntas:</strong> {{params.studentParams.numberOfQuestions}} </div> <br>
  <div style="color: black;">Usted podrá elegir el momento más apropiado para su aplicación.​</div> <br>
  <div style="color: black;">Por favor tenga en cuenta:​</div> <br>
  <div style="color: black;">
    <li>
      <ol>El porcentaje mínimo para aprobar el examen es de 70%.</ol>
      <ol>En caso de que usted repruebe o decida no aplicar el examen, una vez vencida la fecha y la hora límite
        anunciada, se procederá a certificar la asistenta al servicio {{params.studentParams.serviceId}}.</ol>
    </li>
    ​
  </div>
  <br>
  <div style="color: black;">Agradecemos su atención y muchos éxitos en la aplicación de su evaluación. </div> <br>
</div>
