<div>
  <img src="{{params.mailer.footer_icon}}">
  <br><br>
  <div style="color: black;"><strong>Estimado(a) Auxiliar:</strong></div> <br>
  <div style="color: black;">Se informa la confirmación del servicio {{params.service_id}} con código {{params.service_code}}, con fecha de inicio {{params.initDate}} en la ciudad {{params.city}}, el cual, aplica para entrega de normas físicas.</div> <br>
  <br><br>
  <div style="color: black;">Lo invitamos a ingresar al campus Virtual.</div>
</div>
