<div>
  <img src="{{params.mailer.footer_icon}}">
  <br><br>
  <div style="color: black;"><strong>Estimado(a) Auxiliar {{params.assistant_name}}:</strong></div> <br>
  <div style="color: black;">Se informa acerca de la activación del examen del siguiente servicio:</div> <br>
  <div style="color: black;"><strong>Id del servicio: {{params.service_id}}</strong></div> <br>
  <div style="color: black;"><strong>Programa: {{params.program_name}}</strong></div> <br>
  <div style="color: black;"><strong>Código del programa: {{params.program_code}}</strong></div> <br>
  <div style="color: black;"><strong>Modalidad: {{params.modality}}</strong></div> <br>
  <div style="color: black;"><strong>Duración: {{params.duration}}</strong></div> <br>
  <div style="color: black;"><strong>Fecha Inicio: {{params.startDate}}</strong></div> <br>
  <div style="color: black;"><strong>Fecha Fin: {{params.endDate}}</strong></div> <br>
  <div style="color: black;"><strong>Observaciones: {{params.observations}}</strong></div> <br>
  <div style="color: black;"><strong>Nombre del ejecutivo comercial: {{params.accountExecutive}}</strong></div> <br>
  <div style="color: black;"><strong>Regional: {{params.regional}}</strong></div> <br>
  <br><br>
  <div style="color: black;">Lo invitamos a ingresar al campus Virtual, para que pueda realizar el seguimiento.</div>
</div>
