<div class="img_icontec">
  <img src="{{params.mailer.mailer_image}}">
</div>

<div class="txt_icontec">

  <h2>Entrega de normas</h2><br>
  <div>Estimado auxiliar, se informa la confirmación del servicio {{params.service_id}} con código {{params.service_code}}, con fecha de inicio {{params.initDate}} en la ciudad {{params.city}}, el cual, aplica para entrega de normas físicas.</div>
  <br><br>
  <div>Cordialmente <br>Equipo Unidad Técnica de Educación</div>
  <img src="{{params.mailer.footer_icon}}">
</div>
