{{> partials/page/title title='Notificación de programación del servicio'}}
{{> partials/page/image image=params.mailer.mailer_image}}
<tr>
  <td valign="top" class="container">
    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;">
      <tbody>
        <tr>
          <td valign="top" style="padding-top:9px;">
            <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
              <tbody>
                <tr>
                  <td valign="top" class="mcnTextContent" style="padding-top:10px; padding-right:18px; padding-bottom:9px; padding-left:18px;">
                    <p><b>Estimado(a) {{params.assistant_name}}:</b></p>&nbsp;
                    <p>Se informa acerca del servicio:</p>
                    <p><b>Id del servicio: </b>{{params.service_id}}</p>
                    <p><b>Programa: </b>{{params.program_name}}</p>
                    <p><b>Código del programa: </b>{{params.program_code}}</p>
                    <p><b>Modalidad: </b>{{params.modality}}</p>
                    <p><b>Duración: </b>{{params.duration}}</p>
                    {{#if params.serviceValidity}}
                      <p><b>Vigencia: </b>{{params.serviceValidity}}</p>
                    {{else}}
                      <p><b>Fecha Inicio: </b>{{params.startDate}}</p>
                      <p><b>Fecha Fin: </b>{{params.endDate}}</p>
                    {{/if}}
                    <p><b>Observaciones: </b>{{params.observations}}</p>
                    <p><b>Aplica examen: </b>{{params.exam}}</p>
                    <p><b>Aplica lineamiento técnico: </b>{{params.hasTechnicalGuideline}}</p>
                    <p><b>Nombre del ejecutivo comercial: </b>{{params.accountExecutive}}</p>
                    <p><b>Cliente: </b>{{params.client}}</p>
                    <p><b>Regional: </b>{{params.regional}}</p>
                    {{#if params.material_address}}
                      <p><b>Dirección de entrega de materiales: </b>{{params.material_address}}</p>
                    {{/if}}
                    <p class="mcSpecialText">Lo invitamos a ingresar al campus Virtual, para que pueda realizar el seguimiento.</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
{{> partials/page/divider}}
<tr>
  <td valign="top" class="container">
    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;">
      <tbody>
        <tr>
          <td valign="top" style="padding-top:9px;">
            <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
              <tbody>
                <tr>
                  <td valign="top" class="mcnTextContent" style="padding-top:10px; padding-right:18px; padding-bottom:9px; padding-left:18px;">
                    <p><b>PROGRAMACIÓN DEL SERVICIO:</b></p>&nbsp;
                    <table align="left" border="0" cellpadding="5" cellspacing="5" style="border-collapse:separate;max-width:100%; min-width:100%;" width="100%" >
                      <thead>
                        <tr>
                          <th style="background: #B4BCBC;">Modulo</th>
                          <th style="background: #B4BCBC;">Docente</th>
                        </tr>
                      </thead>
                      <tbody style="font-size: 12px;">
                        {{#each params.modules}}
                          <tr>
                            <td>{{course.name}}</td>
                            <td>{{teacher.profile.first_name}} {{teacher.profile.last_name}}</td>
                          </tr>
                        {{/each}}
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
{{#if params.changes}}
  {{#if params.changes.length}}
    {{> partials/page/divider}}
    <tr>
      <td valign="top" class="container">
        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;">
          <tbody>
            <tr>
              <td valign="top" style="padding-top:9px;">
                <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
                  <tbody>
                    <tr>
                      <td valign="top" class="mcnTextContent" style="padding-top:10px; padding-right:18px; padding-bottom:9px; padding-left:18px;">
                        <p><b>MODIFICACIONES EN LA PROGRAMACIÓN:</b></p>
                        <ul>
                          {{#each params.changes}}
                            <li><p>{{{this.message}}}</p></li>
                          {{/each}}
                          {{#if params.syncupSessionsInMoodle}}
                            <li><p><b>Nota: </b>{{{params.syncupSessionsInMoodle}}}</p></li>
                          {{/if}}
                        </ul>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  {{/if}}
{{/if}}
