<div class="img_icontec">
  <img src="{{params.mailer.header_image}}">
  <p style="line-height: normal;" >Alerta no aplicación asistencia y/o encuesta de satisfacción del modulo</p>
</div>

<div class="txt_icontec">
  <div style="color: black;"><strong>Estimado(a) Auxiliar {{params.assistant_name}}:</strong></div> <br>
  <div style="color: black;">Se informa acerca del no diligenciamiento de asistencia y no aplicación para el grupo de la encuesta de satisfacción.</div> <br>
  <div style="color: black;"><strong>Programa: {{params.program_name}}</strong></div> <br>
  <div style="color: black;"><strong>ID: {{params.service_id}}</strong></div> <br>
  <div style="color: black;"><strong>Modalidad: {{params.modality}}</strong></div> <br>
  <div style="color: black;"><strong>Módulo: {{params.module}}</strong></div> <br>
  <div style="color: black;"><strong>Código: {{params.service_id}}</strong></div> <br>
  <div style="color: black;"><strong>Duración: {{params.duration}}</strong></div> <br>
  <div style="color: black;"><strong>Fecha Inicio: {{params.startDate}}</strong></div> <br>
  <div style="color: black;"><strong>Fecha Fin: {{params.endDate}}</strong></div> <br>
  <div style="color: black;"><strong>Docente: {{params.teacher}}</strong></div> <br>
  <div style="color: black;"><strong>Observaciones: {{params.observations}}</strong></div> <br>
  <div style="color: black;"><strong>Aplica examen: {{params.exam}}</strong></div> <br>
  <div style="color: black;"><strong>Nombre del ejecutivo comercial: {{params.accountExecutive}}</strong></div> <br>
  <br><br>
  <img src="{{params.mailer.footer_icon}}">
</div>
